<h3 class="visually-hidden">
    {{ sponsor.name }}
</h3>

<div class="text-center mb-4">
    <a href="{{ sponsor.websiteUrl }}" title="{{ sponsor.name }}">
        <img src="{{ sponsor.logoUrl }}" alt="{{ sponsor.name }} logo" />
    </a>
</div>

<div>
    <p class="text-sm leading-normal">
        {{ sponsor.description }}
    </p>
</div>
