<li class="w-1/2 mb-4 pr-4 relative flex-none flex items-center" style="min-height: 50px">
    <div class="pl-16">
        <div class="mb-1 text-sm">
            {% if organiser.websiteUrl %}
                <a href="{{ organiser.websiteUrl }}">{{ organiser.name }}</a>
            {% else %}
                {{ organiser.name }}
            {% endif %}
        </div>

        <div class="flex">
            {% if organiser.twitterHandle %}
                <a href="{{ organiser.twitterHandle }}" class="text-sm mr-1">
                    <i class="fa fa-twitter"></i>
                </a>
            {% endif %}

            {% if organiser.githubHandle %}
                <a href="{{ organiser.githubHandle }}" class="text-sm mr-1">
                    <i class="fa fa-github"></i>
                </a>
            {% endif %}

            {% if organiser.websiteUrl %}
                <a href="{{ organiser.websiteUrl }}" class="text-sm mr-1">
                    <i class="fa fa-globe"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <img src="{{ organiser.photoUrl }}"
         alt="{{ organiser.name }}"
         height="50"
         width="50"
         class="bg-white rounded-full absolute pin-t pin-l border border-grey-lighter">
</li>
