<ul class="list-reset leading-normal mb-8">
    {% if speaker.meetupId %}
        <li>
            <a class="link text-sm flex items-center" href="https://www.meetup.com/members/{{ speaker.meetupId }}">
                {% include 'svg/calendar.html.twig' with { class: 'fill-current w-4 mr-2' } %}
                Meetup profile
            </a>
        </li>
    {% endif %}

    {% if speaker.websiteUrl %}
        <li>
            <a class="link text-sm flex items-center" href="{{ speaker.websiteUrl }}">
                {% include 'svg/globe.html.twig' with { class: 'fill-current w-4 mr-2' } %}
                Website
            </a>
        </li>
    {% endif %}

    {% if speaker.twitterHandle %}
        <li>
            <a class="link text-sm flex items-center" href="https://twitter.com/{{ speaker.twitterHandle }}">
                {% include 'svg/twitter.html.twig' with { class: 'fill-current w-4 mr-2' } %}
                Twitter: @{{ speaker.twitterHandle }}
            </a>
        </li>
    {% endif %}

    {% if speaker.githubHandle %}
        <li>
            <a class="link text-sm flex items-center" href="https://github.com/{{ speaker.githubHandle }}">
                {% include 'svg/github.html.twig' with { class: 'fill-current w-4 mr-2' } %}
                GitHub: {{ speaker.githubHandle }}
            </a>
        </li>
    {% endif %}
</ul>
